/*estilos bases*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "main   main   aside"
    "footer footer footer";
    min-height: 100vh;
}


body.dark-mode {
filter: grayscale(2);
}

/*HEADER estilos*/
.header {
    grid-area: header;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: brown;
}

.header__txt {
    display: flex;
    align-items: center;
}

/*MAIN estilos*/
.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.hero__h1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*.hero__img {
display: flex;
filter: blur*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: bisque;
}

.container__caja {
    background-color: blue;
    font-size: 30px;
    padding: 0px 88px;
    height: 100px;
    justify-content: center;
    align-content: center;
    transition: transform 1s ease-in-out;
}

.container:hover .container__caja {
    transform: rotate(90deg);
}

.container__txt.isActivated {
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: 0;
}

.container__txt2 {
    opacity: 1;
    transform: translateY(-20px);
    transition: transform 0.4 ease-in;
}

.container__txt2.isActivated {
    opacity: 0;
    transform: translateY(0px);
}

/*GALLERY estilos*/

.gallery {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.gallery__img:hover {
    transform: scale(1) rotate(15deg);
    box-shadow: 5px 5px 5px deeppink;
}

/*sidebar styles*/
.aside {
    grid-area: aside;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: beige;
}

/*-------------------------------------------------*/

/*footer styles*/
.footer {
    grid-area: footer;
    height: 100px;
    width: 100%;
    display: flex;
    background-color: peru;
    padding: 10px;
    justify-content: center;
    align-items: center;
}